@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.heading{
    margin:  50px 86px;
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono" , monospace;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.btnAnch{
    text-decoration: none;
    color: black;
}
.resumeBtn{



    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    background-color: white;
    opacity: 0.8;



    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 10px 18px 10px 18px;
    /* font sizing  */
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* main section started from here */

.heroBanner{


    width: 100%;
    height: 652px;
    background: url("../assets/Hero-bg.png");
    /* border: 1px solid red; */
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.heroImg{

    width: 200px;
    height: 200px;
    margin-top: 26px;



}
.heroHeading{
    margin:32px 120px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 42px;
    font-weight: 800;

    text-align: center;
}
.heroParagraph{
    margin: 24px 180px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.contactBtn{
    margin: 32px 0px;
    border: none;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    height: 65px;
    padding: 21px 24px 21px 24px;

    /* font */
    
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    text-align: center;
}
.contactBtn>a{
    text-decoration: none;
    color: white;
}

.targetQuestion{
    margin-top: 80px;
    margin: 80px 148px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(13, 19, 33, 0.041);;

}

.mainQuestion{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
}
.mainQuestionParagraph{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 120px;
    
}
.targetQuestionInner{
    /* border: 1px solid red; */
    /* padding: 97px; */
    margin: 20px 100px;
    /* background: white; */
    
}
.question{
    display: flex;
    /* border: 1px solid red; */
    padding: 45px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background: white;
    border-radius: 10px;
    
}
.halfWidth{
    width: 70%;
    /* border: 1px solid red; */
}
.halfWidthImage>img{
    /* width: 20%; */
    /* border: 1px solid red; */
    height: 240px;

}
.halfWidth>h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono";
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}
.halfWidth>p{
    color: rgb(13, 19, 33);
font-family: "Azeret Mono";
font-size: 12px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.questionBtn{
    width: 151px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: white;
    margin-top: 32px;

}

/* My inspiration section started */
.inspirationSect{
    margin:50px 148px ;
    /* border: 1px solid red; */
}
.inspirationPara, .targetpara, .nextTargetPara{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 50px;
    
}
.inspirationheading, .targetHeading, .nextTargetHeading{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 28px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.myVideo{
    width: 100%;
    border: 1px solid rgb(219, 211, 211);
    border-radius: 10px;
    
}
.myVideo>iframe{
    width: 98%;
    height:520px;
    padding: 10px;
    border: 10px;
}
.currentTarget{
    margin:50px 148px ;
}
.targetCard{
    /* border: 1px solid red; */
    display: flex;
}
.card{
    padding: 40px;
    /* border: 1px solid red; */
    margin: 20px;
}
.card>a, .nextCardDescribe>a{
    text-decoration: none;
    color:black ;
    font-weight: 700;
    border-bottom: 1px solid black;
}
.card>h5{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 44px;
}
.card>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 44px;
}
.cardOne{
    border-radius: 16px;
    background: rgba(255, 75, 30, 0.137);
}
.cardTwo{
    border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.cardThree{
    border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}
.support{
    margin:50px 148px ;
    background:  url("../assets/handshake.jpg");
    background-color: rgba(0, 0, 0, 0.312);
    background-blend-mode: overlay;
    height: 313px;
    border-radius: 16px;
  
    

}
.support>h4{
    padding: 48px 64px;
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono";
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.support>p{
    padding:  0px 64px;
    color: rgba(239, 233, 233, 0.579);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.submit{
    margin-top: 35px;
    text-align: center;
   
}
.submit>input{
    
    width: 313px;
    padding: 15px;
    color: gray;
    border-radius: 10px;
    border: none;
}
.submitBtn{

    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 17px 20px 17px 20px;

    border: none;
    margin: 0px 16px;
    border-radius: 10px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.footer{
    height: 50px;
    padding:10px 150px ;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.068);
    align-items: center;
}
.commitment>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.icon>img{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-left: 24px;
}
.nextTarget{
    margin:50px 148px ;
    
}
.nextTargetCard{
    padding: 40px;
   
}
.nextCard{
    padding: 40px;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.289);
    border-radius: 16px;

    background: rgb(255, 255, 255);
    
}
.nextCard:hover{
    border: 1px solid rgba(132, 152, 199, 0.15);
}
.nextCard>img{
    margin-right: 20px;
    height: 120px;
}
.nextCardDescribe>h5{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.nextCardDescribe>p{
    margin-top: 24px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
  
}